body { 
    background-image:url('/img/photo.jpg'); 
    padding: 0px 40px 0px 40px;
} 
.container-fluid {
    background-image:url('/img/cw.png'); 
    max-width: 850px;                
    padding: 20px;
    margin: 10px auto;                 
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.hero-unit {
    background-color: white;
    box-shadow: 0 0 3px 3px #abc;
}
.leaddiv {
    background-color: white;
    box-shadow: 0 0 3px 3px #abc;
    padding: 5px 5px 0px 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}                
.mainpic { max-height: 290px; }
p, div {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', Georgia, Times, serif;
    text-shadow: 2px 2px 2px #ccc;
}
