@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body { 
    padding: 0px 40px 0px 40px;
    max-width: 1000px;                
    margin: 10px auto;                 
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
    font-weight:300;
}
.mainpic { max-height: 300px; }
h1, h2, h3, h4, h5, h6 {
    color:#222;
}
p { line-height: 150%; }
li { margin-bottom: .8em; }
ul.papers {
    font-size:90%;
}
.pure-menu-selected {
    text-decoration: underline;
}